body{
  background-color: #FAFBFB;
}

.badge {
  display: inline-flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  padding: 2px 14px 2px 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* font-family: Arial, sans-serif; */
}

.icon-wrapper {
  background-color: #2bd1ff;
  color: #ffffff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper i {
  font-size: 14px; 
}

.label {
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0.5px;
}


.division{
  margin-top: 20px;
  display: flex;
  
}

.left{
  flex: 2;
}

.right{
  flex: 1;
}

.b2t{
  border: none;
  border-radius: 50%;
  background-color: #646464;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 9999;
}

.money-details{
  border: 2px solid gainsboro;
  border-radius: 20px;
  padding: 10px;
}

.recent-donation-details{
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-top: 5px solid green;
  border-radius: 50%;
  background-color: #F9F9F9;
  margin-left: 35%;
  margin-bottom: 20px;
  color: rgb(150, 149, 149);
}

.total-raised-details h3{
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(150, 149, 149);
}

.total-raised-details h3 > span{
  font-weight: 700;
}

.total-donors{
  color: #349D77;
  font-weight: 400;
}

.handwritten_span {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(101, 100, 100);
  font-size: 1.3rem;
  display: block;
}

.dialog_btn{
  padding: 10px;
  margin: 10px;
  width: 400px;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

.donate_now{
  background-color: #FF8502;
}
.share_fb{
  background-color: #5890FF;
}

.info-btn{
  color: #25966D;
}


.defLogo{
  padding: 15px;
  border: 1px solid gainsboro;
  background-color: #F8F8F8;
  border-radius: 50%;
}

.verified{
  font-size: .8rem;
  font-weight: 500;
  color: rgb(97, 96, 96);
  border: 1px solid gainsboro;
  padding: 5px;
  border-radius: 20px;
}

.verified > i{
  color: #25966D;
  font-size: .7rem;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}



.cardi {
  width: 350px;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11);
  margin: 10px;
  
}

.payment-logos{
  width: 25px;
  height: auto;
}

.payment-card > h5{
  margin-top: 3px;
}

.payment-note{
  font-size: .7rem;
  margin: 7px;
}

.payment-card{
  background-color: #FFFFFF;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11);
}

.update_content{
  text-align: left;
  margin: 15px;
}

.update-card > h4{
  text-align: left;
  margin: 15px;
}

.update-card{
  width: 700px;
  border-radius: 10px;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11);
}

.update_card_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more-btn{
  color: #25966D;
  border-radius: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #F0F0F0;
  border: 2px solid #25966D;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.read-more-btn:hover{
  color: #25966D;
  border-radius: 40px;
  background-color: #fff;
  border: 2px solid #25966D;
}

.read-more-btn:active{
  background-color: #25966D;
  color: white;
}

.first_donor_img{
  height: auto;
  width: 200px;
}

.first_donor_img_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_influencers{
  margin-top: 110px;
}

.top_card{
  border-radius: 10px;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11); 
}

.hidden_part{
  display: none;
}

.story_content{
  text-align: left;
}

.story_section_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.story_section {
  width: 700px;
  border-radius: 10px;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11); 
}

mark{
  background-color: #F4CCCC;
  font-weight: 700;
}

.read_more_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.imgWrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWrap img{
  width: 98%;
  height: auto;
}

.donators{
  display: flex;
  justify-content: left;
  align-items: self-start;
}

.donator-list-wrap{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
  text-align: left;
}

.donator-list-wrap > p{
  font-size: 1.2rem;
}

.donator-logo {
  width: 50px; 
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 1rem;
  border: 1px solid gray;
  background-color: gainsboro;
  border-radius: 50%;
  margin: 10px;
}

.all_donations{
  margin-top: 60px;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11); 
}

.donation_paginator {
  width: 100%; 
}

.donation_paginator .pagination {
  display: flex;
  width: 100%;
}

.donation_paginator .page-item:nth-child(2) {
  flex-grow: 1;
}


.donation_paginator .page-item:nth-child(2) .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fundraise_for_cause{
  margin-top: 40px;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11);
}


.raise_funds{
  border: none;
  width: 400px;
  border-radius: 40px;
  padding: 5px;
  background-color: #21986A;
  color: white;
  font-weight: 500;
}

.fundraise_cause_card{
  text-align: left;
}

.fundraiser_cause_img_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-by-side-btns{
  margin-top: 50px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side_btn{
  border-radius: 40px;
}

.patient-btn{
  background-color: #21986A;
  color: white;
  font-weight: 600;
}

.patient-btn:hover{
  background-color: #21986acf;
  color: white;
  font-weight: 600;
}

.concern-btn{
  border: 2px solid rgb(243, 69, 69);
  color: rgb(243, 69, 69);
  font-weight: 600;
}

.concern-btn:hover{
  background-color: rgb(243, 69, 69);
  color: white;
}

.declaration_content{
  width: 700px; 
  position: relative;
  overflow: hidden;
}

.declaration_content{
  text-align: left;
  
}

.hidden_part_nc{
  display: none;
  
}

.read-less-btn2{
  display: none;
}

.dec_read{
  border: none;
  background-color: transparent;
  font-weight: 700;
  transition: 0.2s ease;
  position: relative;
  z-index: 2;
}

.dec_read:hover{
  border: none;
  outline: none;
  color: #21986ace;
  background-color: transparent;
  transform: translateY(-2px);
}


.overlay1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;

    backdrop-filter: blur(6px);

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.15) 20%,
        rgba(255,255,255,0.35) 40%,
        rgba(255,255,255,0.6) 65%,
        rgba(255,255,255,0.85) 85%,
        rgba(255,255,255,1) 100%
    );
}

.overlay2{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;

    backdrop-filter: blur(4px);

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        rgba(255,255,255,0.15) 20%,
        rgba(255,255,255,0.35) 40%,
        rgba(255,255,255,0.6) 65%,
        rgba(255,255,255,0.85) 85%,
        rgba(255,255,255,1) 100%
    );
}



.documents{
  display: flex;
  align-items: center;
  justify-content: center;
}

.docs_card{
  width: 700px;
}

.docs_imgs_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.docs_img{
  width: 50%;
  height: 500px;
}

.active{
  display: block;
}

.not_active{
  display: none;
}

.doc_img_buttons{
  margin-top: 30px;
}

.doc_img_selectors{
  /* width: fit-content; */
  padding: 0;
  border-radius: 10px;
  border: none;
}

.doc_img{
  padding: 0;
  width: 100px;
  height: 120px;
  border-radius: 10px;
}

.heading_wrapper{
  text-align: left;
}

.docs_img{
  border-radius: 10px;
  border: none;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11);
}

.docs_card{
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11);
}

.active_btn{
  border: 4px solid #21986A;
}

.inactive_btn{
  border: 1px solid #21986A;
}

.updates{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.update-content-card{
  width: 700px;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11);
}

.update-msg{
  margin-top: 10px;
  
}

.from_msg{
  color: rgb(43, 42, 42);
  font-weight: 400;
}


.comments{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.comments-card{
  width: 700px;
  box-shadow:
  0.3px 0.5px 0.7px rgba(0, 0, 0, 0.11),
  0.8px 1.6px 2px -0.8px rgba(0, 0, 0, 0.11),
  2.1px 4.1px 5.2px -1.7px rgba(0, 0, 0, 0.11),
  5px 10px 12.6px -2.5px rgba(0, 0, 0, 0.11);
}

.comment-input-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.post-comment-btn{
  border: none;
  border-radius: 50px;
  background-color: #21986A;
  color: white;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.3s ease;
}

.post-comment-btn:hover{
  background-color: #21986ae3;
  
}

.comment-input{
  width: 80%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: #F8F8F8;
  transition: 0.3s ease;
}

.comment-input:focus{
  border: 1px solid #21986A;
  outline: none;
  background-color: #fff;
}

.comment_logo{
  font-size: 2.3rem;
  color: gainsboro;
}

/* .mini_nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    background: white;
    border-bottom: 1px solid #e5e5e5;

    height: 70px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease;

    display: flex;
    align-items: center;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}


.mini_nav.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
} */

.mini_nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background: white;
    border-bottom: 1px solid #e5e5e5;

    z-index: 1000;

    transform: translateY(-100%);
    transition: transform 0.3s ease;

    display: flex;
    align-items: center;
}

.mini_nav.show{
    transform: translateY(0);
}

.mini_nav .container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_buttons,
.share_buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.section_buttons .btn {
    background: transparent;
    border: none;

    font-size: 1rem;
    color: #666;

    padding: 0 12px;
    height: 40px;

    border-bottom: 3px solid transparent;

    transition: all 0.2s ease;
}

.section_buttons .btn:hover {
    color: #21986A;
}



.section_buttons .btn.active {
    color: #21986A;
}

.shareWhatsapp {
    background: #21986A;
    color: white;

    border: none;
    border-radius: 999px;

    padding: 5px 14px;

    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease;
}

.shareWhatsapp:hover{
  background-color: #21986aef;
  color: white;
  transform: translateY(-5px);
}

.shareFacebook {
    background: #5a8cff;
    color: white;

    border: none;
    border-radius: 999px;

    padding: 5px 14px;

    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s ease;
}

.shareFacebook:hover{
  background-color: #5a8cffec;
  color: white;
  transform: translateY(-5px);
}

.share {
    width: 40px;
    height: 40px;

    border: none;
    border-radius: 50%;

    background: #243a6b;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    transition: 0.3s ease;
}

.share:hover{
  background-color: #243b6bee;
  color: white;
  transform: translateY(-5px);
}

/* Popup message styling */
/* .welcome-card {
  display: flex;
  justify-content: center;
  padding: 20px;
  display: flex;
  display: none;
  position: absolute;
  z-index: 1000;
  align-items: center;
} */

/* .welcome-card {
  top: 0;
  left: 0;
  width: 100vw;    
  height: 100vh;  
  position: absolute;
  display: flex;   
  display: none;
  justify-content: center; 
  align-items: center;    
  z-index: 1000;
}


.welcome-card.show {
  display: flex;
}

.welcome-card:not(.show) {
  display: none;
}

body.dimmed::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999; 
  pointer-events: none; 
}

body.noscroll {
  overflow: hidden;
}

.card {
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: relative;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.close-card {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  border-radius: 50%;
  padding: 4px;
  width: 30px;
  height: 30px;
}

.card-body img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.popup_msg_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.or-span{
  font-size: 1.2rem;
}

.popup_msg{
  font-family: "Shadows Into Light", cursive;
  font-size: 1.2rem;
  font-weight: 600;
}

.popup_name {
  font-weight: 500;
  font-size: 1em;
  color: rgb(74, 73, 73);
}

.popup_donate_btn{
  border-radius: 40px;
  font-size: 1.1rem;
  background-color: #FF8502;
  color: white;
  font-weight: 500;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
}

.popup_donate_btn:hover{
  border-radius: 40px;
  font-size: 1.1rem;
  background-color: #ff8502ed;
  color: white;
  font-weight: 500;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
}

.popup_amount_btn{
  font-weight: 500;
  color: #21986A;
}

.popup_amount_btn:hover{
  font-weight: 500;
  color: #21986aeb;
} */



@media (max-width: 768px){
  .division{
    flex-direction: column;
    padding: 0 12px;
  }
  .left, .right{
    width: 100%;
  }
}